In [ ]:
import pandas as pd
df = pd.read_csv('titanic.csv')

In [ ]:
# Display the first few rows of the dataset
df.head()

# Display summary statistics
df.describe()

# Display information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
#cleaning
df.duplicated().sum()
df = df.drop(columns=['PassengerId', 'Name', 'Ticket'])

In [ ]:
df.isnull().sum()
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])
df = df.drop(columns=['Cabin'])

In [ ]:
# Create a new column 'FamilySize' from 'SibSp' and 'Parch'
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

# Drop the original 'SibSp' and 'Parch' columns
df = df.drop(columns=['SibSp', 'Parch'])

In [ ]:
from sklearn.preprocessing import StandardScaler
num_features = ['Age', 'Fare', 'FamilySize']
m_features = ['Age', 'Fare', 'FamilySize']
df[num_features] = scaler.fit_transform(df[num_features])

In [ ]:
from sklearn.preprocessing import OneHotEncoder

# List of categorical features to encode
cat_features = ['Sex', 'Embarked']

# Initialize the encoder
encoder = OneHotEncoder(sparse=False, drop='first')

# Fit and transform the categorical features
encoded_features = pd.DataFrame(encoder.fit_transform(df[cat_features]), columns=encoder.get_feature_names_out(cat_features))

# Drop original categorical columns and concatenate the encoded features
df = df.drop(columns=cat_features)
df = pd.concat([df, encoded_features], axis=1)

C:\Users\vighn\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
df['IsAlone'] = (df['FamilySize'] == 1).astype(int)

# Drop 'FamilySize' if not needed anymore
df = df.drop(columns=['FamilySize'])

In [ ]:
df.head()

,Survived,Pclass,Age,Fare,Sex_male,Embarked_Q,Embarked_S,IsAlone
0,0,3,-0.565736,-0.502445,1.0,0.0,1.0,0
1,1,1,0.663861,0.786845,0.0,0.0,0.0,0
2,1,3,-0.258337,-0.488854,0.0,0.0,1.0,0
3,1,1,0.433312,0.420730,0.0,0.0,1.0,0
4,0,3,0.433312,-0.486337,1.0,0.0,1.0,0